# VS Code Settings
.vscode/

# macOS system files
.DS_Store

#localResources
localResources/

# not used
piwigoPublish.lrplugin/icons/piwigoPublish_1_0-assets/
piwigoPublish.lrplugin/icons/piwigoPublish_1_5-assets/
piwigoPublish.lrplugin/icons/piwigoPublish_2_0-assets/
piwigoPublish.lrplugin/icons/piwigoPublish_1_0.psd
piwigoPublish.lrplugin/icons/*psd
piwigoPublish.lrplugin/lrcUtils.lua 
piwigoPublish.lrplugin/PiwigoHelper.lua 

# Other files
*.bak
.claude/
claude.md
__pycache__/
cat layout.odt
deploy.sh
diagnostic.txt
copilot-instructions.md
DEBUG-TODO.md

# Temporary folder for localisation tools
piwigoPublish.lrplugin/__i18n_tmp__/
